{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/books.css' %}" />
{% endblock %}

{% block content %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'libraryapp:register' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="username">Username: </label>
          <input id="username" type="text" name="username">
      </fieldset>
      <fieldset>
          <label for="password">Password: </label>
          <input id="password" type="password" name="password">
      </fieldset>
      <fieldset>
          <label for="password_confirmation">Password Confirmation: </label>
          <input id="password_confirmation" type="password" name="password_confirmation">
      </fieldset>
      <fieldset>
          <label for="location">Library: </label>
          <select id="location" type="text" name="location">
                {% for library in libraries %}
                    <option value="{{ library.id }}">{{ library.name }}</option>
                {% endfor %}
          </select>
      </fieldset>

      <input type="submit" value="Submit" />
    </form>
{% endblock %}
